{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Equipos de corresponsales</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Miembros</th>
                <th>Coordinador</th>
                <th>Corresponsales</th>
                {% if is_granted('ROLE_ESPECIALISTA_DC') %}
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for equipo_corresponsale in equipo_corresponsales %}
            {%  if  equipo_corresponsale.esActivo == true %}
                <tr>
                    <td>{{ equipo_corresponsale.codigo }}</td>
                    <td>{{ equipo_corresponsale.cantidadMiembros }}</td>
                    <td>{{ equipo_corresponsale.CorresponsalCoordinador.nombre }}</td>
                    <td>
                        {% for corresponsals in equipo_corresponsale.corresponsals %}
                            {% if corresponsals.esActivo == true %}
                                {{ corresponsals.nombre }}
                            {% endif %}
                        {% endfor %}
                    </td>
            {% if is_granted('ROLE_ESPECIALISTA_DC') %}
                    <td>
                        <a href="{{ path('equipo_corresponsales_edit', {'id': equipo_corresponsale.id}) }}">
                            <img src="{{ asset('img/editar.png') }}" style="width: 15%">
                        </a>
                        <a href="{{ path('equipo_corresponsales_delete', {'id': equipo_corresponsale.id}) }}"onclick="return confirm('¿Desea borrar el equipo seleccionado?');">
                            <img src="{{ asset('img/borrar.png') }}" style="width: 15%">
                        </a>
                    </td>
            {% endif %}

                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="4">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ESPECIALISTA_DC') %}
        <a class="btn btn-primary"  href="{{ path('equipo_corresponsales_new') }}">Nuevo</a>
    {% endif %}

{% endblock %}
