{% extends 'base.html.twig' %}

{% block title %}EquipoCorresponsales{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>EquipoCorresponsales</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipo_corresponsale.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ equipo_corresponsale.codigo }}</td>
            </tr>
            <tr>
                <th>Coordinador</th>
                <td>{{ equipo_corresponsale.coordinador ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('equipo_corresponsales_index') }}">back to list</a>

    <a href="{{ path('equipo_corresponsales_edit', {'id': equipo_corresponsale.id}) }}">edit</a>

    {{ include('equipo_corresponsales/_delete_form.html.twig') }}
{% endblock %}
