{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    <h1>Editar usuario</h1>

    {{ form_start(form) }}
    {{ form_row(form.nombre) }}
    {{ form_row(form.correo) }}
    {{ form_row(form.roles) }}
    {{ form_widget(form.password, {'attr': {'style':'display:none'}}) }}

    <br>

    <button class="btn btn-primary">
        {{ button_label|default('Aceptar') }}
    </button>
    <a class="btn btn-primary" href="{{ path('g_m_s_r_f_i_d_usuario_index') }}">Regresar</a>

{% endblock %}
