{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h1>Usuarios</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre </th>
                <th>Correo </th>
                <th>Roles </th>
                {#<th>Password</th>#}
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for g_m_s_r_f_i_d_usuario in g_m_s_r_f_i_d_usuarios %}
            <tr>
                <td>{{ g_m_s_r_f_i_d_usuario.id }}</td>
                <td>{{ g_m_s_r_f_i_d_usuario.nombre }}</td>
                <td>{{ g_m_s_r_f_i_d_usuario.correo }}</td>
                <td>{{ g_m_s_r_f_i_d_usuario.roles ? g_m_s_r_f_i_d_usuario.roles|json_encode : '' }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('g_m_s_r_f_i_d_usuario_edit', {'id': g_m_s_r_f_i_d_usuario.id}) }}">
                        <img src="{{ asset('img/editar.png') }}" style="width: 15%">
                    </a>
                    <a href="{{ path('g_m_s_r_f_i_d_usuario_delete', {'id': g_m_s_r_f_i_d_usuario.id}) }}">
                        <img src="{{ asset('img/borrar.png') }}" style="width: 15%">
                    </a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No existen usuarios</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary"  href="{{ path('app_register') }}">Nuevo</a>
    {% endif %}
{% endblock %}
