{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}
{% block contenido %}
       {{ parent() }}
<h1>Importar nuevas lecturas</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}