{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Cambiar contraseña de {{ app.user.username }}</h1>

    <div class="form-group">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <button class="btn btn-primary">
            {{ button_label|default('Actualizar') }}
        </button>
        <a class="btn btn-primary" href="{{ path('principal') }}">Cancelar</a>
        {{ form_end(form) }}
    </div>

{% endblock %}