{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h1>Envío</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Transpondedor</th>
                <th>Fecha planeada de envío</th>
                <th>Fecha real de envío</th>
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody>
        {% for envio in envios %}
            {% set size = loop.index %}
            <tr>
                <td>{{ envio.codigo }}</td>
                <td>{{ envio.codigoTranspondedor }}</td>
                <td>{{ envio.fechaPlanEnviado ? envio.fechaPlanEnviado|date('Y-m-d') : '' }}</td>
                <td>{{ envio.fechaRealEnviado ? envio.fechaRealEnviado|date('Y-m-d') : '' }}</td>
                <td>
                    {% for detalle in detalles %}
                        {% if loop.index == size %}
                            {{ detalle }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('envio_show', {'id': envio.id}) }}">Ver</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
