{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}
        <h3>Corresponsal: {{ corresponsal.nombre }} {{ corresponsal.apellidos }} ({{ corresponsal.codigo }})</h3>
        <br>
    <table class="table">
        <thead>
        <tr>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Observaciones</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sobres blancos para cartas A5</td>
                <td>{{ sobres }}</td>
            </tr>
            <tr>
                <td>Sellos postal Orquídea, 65 cent CUC ({{ codPaises65|join(', ') }})</td>
                <td>{{ sellos65 }}</td>
            </tr>
            <tr>
                <td>Sellos postal Orquídea, 75 cent CUC ({{ codPaises75|join(', ') }})</td>
                <td>{{ sellos75 }}</td>
            </tr>
            {% for paisDestino in paisesDestino %}
                {% set sizePaisesDest = loop.index %}
            <tr>
                <td>Transpondedor RFID pasivo CU a {{ paisDestino.codigo }}</td>
                {% for arrTotalesPais in arrTotalesPaises %}
                    {% if loop.index == sizePaisesDest %}
                        <td>{{ arrTotalesPais }}</td>
                    {% endif %}
                {% endfor %}
                <td>
                    {% if sizePaisesDest == 1 %}
                        Del <input type="text" id=transpondedorInicial1 maxlength="17" minlength="17">
                        al <input type="text" id=transpondedorFinal1 maxlength="17" minlength="17">
                    {% endif %}
                    {% if sizePaisesDest == 2 %}
                        Del <input type="text" id=transpondedorInicial2 maxlength="17" minlength="17">
                        al <input type="text" id=transpondedorFinal2 maxlength="17" minlength="17">
                    {% endif %}
                    {% if sizePaisesDest == 3 %}
                        Del <input type="text" id=transpondedorInicial3 maxlength="17" minlength="17">
                        al <input type="text" id=transpondedorFinal3 maxlength="17" minlength="17">
                    {% endif %}
                    {% if sizePaisesDest == 4 %}
                        Del <input type="text" id=transpondedorInicial4 maxlength="17" minlength="17">
                        al <input type="text" id=transpondedorFinal4 maxlength="17" minlength="17">
                    {% endif %}
                    {% if sizePaisesDest == 5 %}
                        Del <input type="text" id=transpondedorInicial5 maxlength="17" minlength="17">
                        al <input type="text" id=transpondedorFinal5 maxlength="17" minlength="17">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% for paisDestino in paisesDestino %}
                {% set sizePaisesDest = loop.index %}
                <tr>
                    <td>Carta corresponsal CU a {{ paisDestino.codigo }}</td>
                    {% for arrTotalesPais in arrTotalesPaises %}
                        {% if loop.index == sizePaisesDest %}
                            <td>{{ arrTotalesPais }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>
                        {% if sizePaisesDest == 1 %}
                            Del CU <input type="text" id="cartaInicio1" maxlength="6" minlength="6"> {{ paisDestino.codigo }}
                            al CU <input type="text" id="cartaFinal1" maxlength="6" minlength="6"> {{ paisDestino.codigo }}
                        {% endif %}
                        {% if sizePaisesDest == 2 %}
                            Del CU <input type="text" id="cartaInicio2" maxlength="6" minlength="6"> {{ paisDestino.codigo }}
                            al CU <input type="text" id="cartaFinal2" maxlength="6" minlength="6"> {{ paisDestino.codigo }}
                        {% endif %}
                        {% if sizePaisesDest == 3 %}
                            Del CU <input type="text" id="cartaInicio3" maxlength="6" minlength="6"> {{ paisDestino.codigo }}
                            al CU <input type="text" id="cartaFinal3" maxlength="6" minlength="6"> {{ paisDestino.codigo }}
                        {% endif %}
                        {% if sizePaisesDest == 4 %}
                            Del CU <input type="text" id="cartaInicio4" maxlength="6" minlength="6"> {{ paisDestino.codigo }}
                            al CU <input type="text" id="cartaFinal4" maxlength="6" minlength="6"> {{ paisDestino.codigo }}
                        {% endif %}
                        {% if sizePaisesDest == 5 %}
                            Del CU <input type="text" id="cartaInicio5" maxlength="6" minlength="6"> {{ paisDestino.codigo }}
                            al CU <input type="text" id="cartaFinal5" maxlength="6" minlength="6"> {{ paisDestino.codigo }}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% for paisDestino in paisesDestino %}
                {% set sizePaisesDest = loop.index %}
                <tr>
                    <td>Hoja de etiquetas con direcciones de corresponsales en {{ paisDestino.codigo }}</td>
                    <td>?</td>
                    <td>
                    {% for corresponsalPaisesDestino in corresponsalesPaisesDestino %}
                        {% if paisDestino.codigo in corresponsalPaisesDestino %}
                            {{ corresponsalPaisesDestino }}
                        {% endif %}
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>Formulario P (Imposición), Formulario R (Recepción)</td>
                <td>Digital</td>
                <td>Entregado digital</td>
            </tr>
            <tr>
                <td>Plan de encaminamiento</td>
                <td>1</td>
                <td>Del {{ importacion.fechaInicioPlan }} al {{ importacion.fechaFinPlan }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" id="guardar" onclick="obtenerValoresMostrarExportar()">Guardar datos introducidos</a>
    <a class="btn btn-primary" id="exportar" style="display: none"  href="{{ path('pdf_materiales_corresponsal', {'id': corresponsal.id}) }}">Exportar</a>

    <script type="text/javascript">
        function obtenerValoresMostrarExportar() {
            var transpondedoresIniciales = [document.getElementById("transpondedorInicial1").value,
                document.getElementById("transpondedorInicial2").value,
                document.getElementById("transpondedorInicial3").value,
                document.getElementById("transpondedorInicial4").value];
            if(document.getElementById("transpondedorInicial5") != null){
                transpondedoresIniciales.push(document.getElementById("transpondedorInicial5").value);
            }
            alert(transpondedoresIniciales[3]);
            var transpondedoresFinales = [document.getElementById("transpondedorFinal1").value,
                document.getElementById("transpondedorFinal2").value,
                document.getElementById("transpondedorFinal3").value,
                document.getElementById("transpondedorFinal4").value];
            if(document.getElementById("transpondedorFinal5") != null){
                transpondedoresFinales.push(document.getElementById("transpondedorFinal5").value);
            }
            alert(transpondedoresFinales[3]);
            var cartasIniciales = [document.getElementById("cartaIniciol1").value,
                document.getElementById("cartaIniciol2").value,
                document.getElementById("cartaIniciol3").value,
                document.getElementById("cartaIniciol4").value];
            if(document.getElementById("cartaIniciol5") != null){
                transpondedoresIniciales.push(document.getElementById("cartaIniciol5").value);
            }
            alert(cartasIniciales[3]);
            var cartasFinales = [document.getElementById("cartaFinal1").value,
                document.getElementById("cartaFinal2").value,
                document.getElementById("cartaFinal3").value,
                document.getElementById("cartaFinal4").value];
            if(document.getElementById("cartaFinal5") != null){
                transpondedoresFinales.push(document.getElementById("cartaFinal5").value);
            }
            alert(cartasFinales[3]);
            //mostrar y ocultar botones
            document.getElementById("exportar").style.display = "block";
            document.getElementById("guardar").style.display = "none";
        }
    </script>

{% endblock %}