{% extends 'base.html.twig' %}

{% block title %}CumplimientoPlan index{% endblock %}

{% block body %}
    <h1>CumplimientoPlan index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha_real</th>
                <th>Es_enTiempo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cumplimiento_plan in cumplimiento_plans %}
            <tr>
                <td>{{ cumplimiento_plan.id }}</td>
                <td>{{ cumplimiento_plan.fechaReal ? cumplimiento_plan.fechaReal|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cumplimiento_plan.esEnTiempo ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('cumplimiento_plan_show', {'id': cumplimiento_plan.id}) }}">show</a>
                    <a href="{{ path('cumplimiento_plan_edit', {'id': cumplimiento_plan.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cumplimiento_plan_new') }}">Create new</a>
{% endblock %}
