{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Nuevo usuario</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.nombre) }}
    {{ form_row(registrationForm.correo) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.roles) }}
    {# {{ form_row(registrationForm.agreeTerms) }}  #}
    <button class="btn btn-primary" id="general-btns">Registrar</button>
    {{ form_end(registrationForm) }}


{% endblock %}
