{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Corresponsales</h1>

    <table class="table">
        <thead>
            <tr>
                {# <th>Id</th> #}
                <th>Código</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Dirección</th>
                <th>Equipo</th>
                {% if is_granted('ROLE_ESPECIALISTA_DC') %}
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for corresponsal in corresponsals %}
            {%  if  corresponsal.esActivo == true %}
                <tr>
                    {# <td>{{ corresponsal.id }}</td> #}
                    <td>{{ corresponsal.codigo }}</td>
                    <td>{{ corresponsal.nombre }}</td>
                    <td>{{ corresponsal.apellidos }}</td>
                    <td>{{ corresponsal.correo }}</td>
                    <td>{{ corresponsal.direccion }}</td>
                    <td>{{ corresponsal.equipo.codigo }}</td>
            {% if is_granted('ROLE_ESPECIALISTA_DC') %}
                    <td>
                        <a href="{{ path('corresponsal_edit', {'id': corresponsal.id}) }}">
                            <img src="{{ asset('img/editar.png') }}" style="width: 15%">
                        </a>
                        <a href="{{ path('corresponsal_delete', {'id': corresponsal.id}) }}" onclick="return confirm('¿Desea borrar el corresponsal seleccionado?');">
                            <img src="{{ asset('img/borrar.png') }}" style="width: 15%">
                        </a>
                    </td>
            {% endif %}
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="5">No existen corresponsales</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ESPECIALISTA_DC') %}
        <a class="btn btn-primary" href="{{ path('corresponsal_new') }}">Añadir</a>
    {% endif %}
{% endblock %}

