{% block body %}

    <h1>Se han modificado datos de un corresponsal</h1>

    <p>Se han modificado los datos del corresponsal con c칩digo {{ corresponsal.codigo }}. A continuaci칩n se mostrar치n los nuevos datos.
        Nombre: {{ corresponsal.nombre }}, apellidos: {{ corresponsal.apellidos }}, direcci칩n {{ corresponsal.direccion }}
        y correo: {{ corresponsal.correo }}</p>

{% endblock %}