{% extends 'baseReportes.html.twig' %}
{% block reporte %}

    <h1>Se ha a침adido un nuevo corresponsal</h1>

    <p>Se ha a침adido el corresponsal con los siguientes datos<br>
        C칩digo {{ corresponsal.codigo }}<br>
        Nombre {{ corresponsal.nombre }}<br>
        Apellidos {{ corresponsal.apellidos }}<br>
        Direcci칩n {{ corresponsal.direccion }}<br>
        Correo {{ corresponsal.correo }}</p>

{% endblock %}