{% block body %}

    <h1>Se ha a침adido un nuevo corresponsal</h1>

    <p>Se ha a침adido el corresponsal con c칩digo {{ corresponsal.codigo }}, de nombre {{ corresponsal.nombre }}
        {{ corresponsal.apellidos }} que radica en la direcci칩n {{ corresponsal.direccion }} y cuyo correo es
        {{ corresponsal.correo }}</p>

{% endblock %}