{% extends 'baseReportes.html.twig' %}
{% block reporte %}

    <h1>Se han modificado datos de un corresponsal</h1>

    <p>Se han modificado los datos del corresponsal con c칩digo {{ corresponsal.codigo }}.<br>
        A continuaci칩n se mostrar치n los nuevos datos.<br>
        Nombre: {{ corresponsal.nombre }}<br>
        Apellidos: {{ corresponsal.apellidos }}<br>
        Direcci칩n {{ corresponsal.direccion }}<br>
        Correo: {{ corresponsal.correo }}</p>

{% endblock %}