{% extends 'baseReportes.html.twig' %}
{% block reporte %}

    <h1>Se ha a침adido un nuevo corresponsal</h1>

    <p>Se ha a침adido el corresponsal con los siguientes datos
        C칩digo {{ corresponsal.codigo }}
        Nombre {{ corresponsal.nombre }}
        Apellidos {{ corresponsal.apellidos }}
        Direcci칩n {{ corresponsal.direccion }}
        Correo {{ corresponsal.correo }}</p>

{% endblock %}