{% extends 'baseReportes.html.twig' %}
{% block reporte %}

    <h1>Se han modificado datos de un corresponsal</h1>

    <p>Se han modificado los datos del corresponsal con c칩digo {{ corresponsal.codigo }}.
        A continuaci칩n se mostrar치n los nuevos datos.
        Nombre: {{ corresponsal.nombre }}
        Apellidos: {{ corresponsal.apellidos }}
        Direcci칩n {{ corresponsal.direccion }}
        Correo: {{ corresponsal.correo }}</p>

{% endblock %}