{% extends 'base.html.twig' %}

{% block title %}Corresponsal{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h1>Corresponsal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ corresponsal.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ corresponsal.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ corresponsal.nombre }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ corresponsal.correo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('corresponsal_index') }}">back to list</a>

    <a href="{{ path('corresponsal_edit', {'id': corresponsal.id}) }}">edit</a>

    {{ include('corresponsal/_delete_form.html.twig') }}
{% endblock %}
