{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    <h1>Rol index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for rol in rols %}
            <tr>
                <td>{{ rol.id }}</td>
                <td>{{ rol.nombreRol }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('rol_show', {'id': rol.id}) }}">Mostrar</a>
                    <a href="{{ path('rol_edit', {'id': rol.id}) }}">Editar</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('rol_new') }}">Nuevo</a>
    {% endif %}
{% endblock %}
