{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h1>Países de correspondencia</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Región</th>
                {% if is_granted('ROLE_ESPECIALISTA_DC') %}
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for pais_correspondencium in pais_correspondencias %}
            {% if  pais_correspondencium.esActivo == true %}
                <tr>
                    <td>{{ pais_correspondencium.codigo }}</td>
                    <td>{{ pais_correspondencium.nombre }}</td>
                    {% if pais_correspondencium.region != null %}
                        <td>{{pais_correspondencium.region.descripcion}}</td>
                    {% endif %}
            {% if is_granted('ROLE_ESPECIALISTA_DC') %}
                    <td>
                        <a href="{{ path('pais_correspondencia_edit', {'id': pais_correspondencium.id}) }}">
                            <img src="{{ asset('img/editar.png') }}" style="width: 7%">
                        </a>
                        <a href="{{ path('pais_correspondencia_delete', {'id': pais_correspondencium.id}) }}"onclick="return confirm('¿Desea borrar el país seleccionado?');">
                            <img src="{{ asset('img/borrar.png') }}" style="width: 7%">
                        </a>
                    </td>
            {% endif %}
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="5">No existen países de correspondencia activos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ESPECIALISTA_DC') %}
        <a class="btn btn-primary"  href="{{ path('pais_correspondencia_añadir') }}">Añadir</a>
    {% endif %}

{% endblock %}
