{% extends 'base.html.twig' %}

{% block title %}PaisCorrespondencia index{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h1>Países de Correspondencia</h1>

    <table class="table">
        <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Código</th>
                <th>Nombre</th>
                <th>Región</th>
               <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for pais_correspondencium in pais_correspondencias %}
            {% if  pais_correspondencium.esActivo == true %}
                <tr>
                    {#<td>{{ pais_correspondencium.id }}</td>#}
                    <td>{{ pais_correspondencium.codigo }}</td>
                    <td>{{ pais_correspondencium.nombre }}</td>
                    {% if pais_correspondencium.region != null %}
                        <td>{{pais_correspondencium.region.descripcion}}</td>
                    {% endif %}
                    {#<td>{{ pais_correspondencium.esActivo ? 'Sí' : 'No' }}</td>#}
                    <td>
                        <a href="{{ path('pais_correspondencia_edit', {'id': pais_correspondencium.id}) }}">edit</a>
                    </td>
                </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="5">No existen países de correspondencia activos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ESPECIALISTA_DC') %}
        <button class="btn bg-primary" id="corresponsal-btns">
            <a href="{{ path('pais_correspondencia_añadir') }}">Añadir</a>
        </button>
        <button class="btn bg-primary" id="corresponsal-btns">
            <a href="#">Acciones</a>
        </button>
    {% endif %}

{% endblock %}
