{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Estadísticas totales</h1>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            {% for corresponsalesCubanos in corresponsalesCubanos %}
                <th>{{ corresponsalesCubanos }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for corresponsalesDestino in corresponsalesDestino %}
                {% set size = loop.index %}
                <th>{{ corresponsalesDestino }}</th>
                {% for totalesc1 in totalesc1 %}
                    {% if loop.index == size %}
                        <td>{{ totalesc1 }}</td>
                    {% endif %}
                {% endfor %}
                {% for totalesc2 in totalesc2 %}
                    {% if loop.index == size %}
                        <td>{{ totalesc2 }}</td>
                    {% endif %}
                {% endfor %}
                {% for totalesc3 in totalesc3 %}
                    {% if loop.index == size %}
                        <td>{{ totalesc3 }}</td>
                    {% endif %}
                {% endfor %}
        </tr>
            {% endfor %}

        </tbody>
    </table>
    <h3>Cantidad total de envíos por países</h3>
    <table class="table">
        <thead>
        <tr>
            {% for paisesDestino in paisesDestino %}
                <td>{{ paisesDestino.nombre }} ({{ paisesDestino.codigo }})</td>
            {% endfor %}
            <td>Total</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for total in totalesPaises %}
                <td>{{ total }}</td>
            {% endfor %}
            <td>{{ totalEnvios }}</td>
        </tr>
        </tbody>

    </table>
{% endblock %}
