{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Cálculo de materiales</h1>
    <h6>Plan de imposición del {{ importacion.fechaInicioPlan }} al {{ importacion.fechaFinPlan }}</h6>
    <h6>Dimensión {{ importacion.dimension }}</h6>
    <h6>Ciclo {{ cicloEspanol }}</h6>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            {% for corresponsalesCubanos in corresponsalesCubanos %}
                <th>{{ corresponsalesCubanos }}</th>
            {% endfor %}
            <th>Totales</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Sobres</th>
            {% for totales in totales %}
                <td>{{ totales }}</td>
            {% endfor %}
            <td>{{ totalEnvios }}</td>
        </tr>
        <tr>
            <th>Sellos 65c</th>
            {% for totalEnvios065 in totalEnvios065 %}
                <td>{{ totalEnvios065 }}</td>
            {% endfor %}
            <td>{{ total065 }}</td>
        </tr>
        <tr>
            <th>Sellos 75c</th>
            {% for totalEnvios075 in totalEnvios075 %}
                <td>{{ totalEnvios075 }}</td>
            {% endfor %}
            <td>{{ total075 }}</td>
        </tr>
        {% set existe = false %}
        {% for totalEnvios085 in totalEnvios085 %}
            {% if totalEnvios085 != 0 %}
                {% set existe = true %}
            {% endif %}
        {% endfor %}
        {% if existe == true %}
            <tr>
                <th>Sellos 85c</th>
                {% for totalEnvios085 in totalEnvios085 %}
                    <td>{{ totalEnvios085 }}</td>
                {% endfor %}
                <td>{{ total085 }}</td>
            </tr>
        {% endif %}

        </tbody>
    </table>

    <h3>Transpondedores</h3>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            {% for corresponsalesCubanos in corresponsalesCubanos %}
                <th>{{ corresponsalesCubanos }}</th>
            {% endfor %}
            <th>Totales</th>
        </tr>
        </thead>
        <tbody>
        {% for paisDestino in paisesDestino %}
            {% set sizeDest = loop.index %}
            {% set total = 0 %}
            <tr>
                <th>CU -> {{ paisDestino.codigo }}</th>
                {% for corresponsalesCubanos in corresponsalesCubanos %}
                    {% set sizeCub = loop.index %}
                    {% for tp in totalesPaises %}
                        {% if loop.index == sizeCub %}
                            {% for t in tp %}
                                {% if loop.index == sizeDest %}
                                    <td>{{ t }}</td>
                                    {% set total = total + t %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <td>{{ total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Cartas GMS</h3>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            {% for corresponsalesCubanos in corresponsalesCubanos %}
                <th>{{ corresponsalesCubanos }}</th>
            {% endfor %}
            <th>Totales</th>
        </tr>
        </thead>
        <tbody>
        {% for paisDestino in paisesDestino %}
            {% set sizeDest = loop.index %}
            {% set total = 0 %}
            <tr>
                <th>CU -> {{ paisDestino.codigo }}</th>
                {% for corresponsalesCubanos in corresponsalesCubanos %}
                    {% set sizeCub = loop.index %}
                    {% for tp in totalesPaises %}
                        {% if loop.index == sizeCub %}
                            {% for t in tp %}
                                {% if loop.index == sizeDest %}
                                    <td>{{ t }}</td>
                                    {% set total = total + t %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <td>{{ total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
