{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Cálculo de totales</h1>
    <h6>Año {{ anno }}</h6>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            {% for corresponsalesCubanos in corresponsalesCubanos %}
                <th>{{ corresponsalesCubanos }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for corresponsalesDestino in corresponsalesDestino %}
            {% set sizeDest = loop.index %}
            <tr>
                <th>{{ corresponsalesDestino }}</th>
                {% for corresponsalesCubanos in corresponsalesCubanos %}
                    {% set sizeCub = loop.index %}
                    {% for mat in matriz %}
                        {% if loop.index == sizeCub %}
                            {% for m in mat %}
                                {% if loop.index == sizeDest %}
                                    <td>{{ m }}</td>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Cantidad total de envíos por países</h3>
    <table class="table">
        <thead>
        <tr>
            {% for paisesDestino in paisesDestino %}
                <td>{{ paisesDestino.nombre }} ({{ paisesDestino.codigo }})</td>
            {% endfor %}
            <td>Total</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for total in totalesPaises %}
                <td>{{ total }}</td>
            {% endfor %}
            <td>{{ totalEnvios }}</td>
        </tr>
        </tbody>

    </table>
{% endblock %}