{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Cálculo de totales</h1>
    <h6>Ciclo {{ ciclo }}</h6>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            {% for corresponsalesCubanos in corresponsalesCubanos %}
                <th>{{ corresponsalesCubanos }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for corresponsalesDestino in corresponsalesDestino %}
            {% set sizeDest = loop.index %}
            <tr>
                <th>{{ corresponsalesDestino }}</th>
                {% for corresponsalesCubanos in corresponsalesCubanos %}
                    {% set sizeCub = loop.index %}
                    {% for mat in matrizE %}
                        {% if loop.index == sizeCub %}
                            {% for m in mat %}
                                {% if loop.index == sizeDest %}
                                    <td>{{ m }}</td>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Cantidad total de envíos por países</h3>
    <table class="table">
        <thead>
        <tr>
            {% for paisesDestino in paisesDestino %}
                <td>{{ paisesDestino.nombre }} ({{ paisesDestino.codigo }})</td>
            {% endfor %}
            <td>Total</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for total in totalesPaises %}
                <td>{{ total }}</td>
            {% endfor %}
            <td>{{ totalEnvios }}</td>
        </tr>
        </tbody>
    </table>

    <h3>Materiales</h3>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            {% for corresponsalesCubanos in corresponsalesCubanos %}
                <th>{{ corresponsalesCubanos }}</th>
            {% endfor %}
            <th>Totales</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Sobres</th>
            {% for totales in totales %}
                <td>{{ totales }}</td>
            {% endfor %}
            <td>{{ totalEnvios }}</td>
        </tr>
        <tr>
            <th>Sellos 65c</th>
            {% for totalEnvios065 in totalEnvios065 %}
                <td>{{ totalEnvios065 }}</td>
            {% endfor %}
            <td>{{ total065 }}</td>
        </tr>
        <tr>
            <th>Sellos 75c</th>
            {% for totalEnvios075 in totalEnvios075 %}
                <td>{{ totalEnvios075 }}</td>
            {% endfor %}
            <td>{{ total075 }}</td>
        </tr>
        {% set existe = false %}
        {% for totalEnvios085 in totalEnvios085 %}
            {% if totalEnvios085 != 0 %}
                {% set existe = true %}
            {% endif %}
        {% endfor %}
        {% if existe == true %}
            <tr>
                <th>Sellos 85c</th>
                {% for totalEnvios085 in totalEnvios085 %}
                    <td>{{ totalEnvios085 }}</td>
                {% endfor %}
                <td>{{ total085 }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <h3>Transpondedores</h3>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            {% for corresponsalesCubanos in corresponsalesCubanos %}
                <th>{{ corresponsalesCubanos }}</th>
            {% endfor %}
            <th>Totales</th>
        </tr>
        </thead>
        <tbody>
        {% for paisDestino in paisesDestino %}
            {% set sizeDest = loop.index %}
            {% set total = 0 %}
            <tr>
                <th>CU -> {{ paisDestino.codigo }}</th>
                {% for corresponsalesCubanos in corresponsalesCubanos %}
                    {% set sizeCub = loop.index %}
                    {% for ma in matrizPC %}
                        {% if loop.index == sizeCub %}
                            {% for m in ma %}
                                {% if loop.index == sizeDest %}
                                    <td>{{ m }}</td>
                                    {% set total = total + m %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <td>{{ total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Cartas GMS</h3>
    <table class="table">
        <thead>
        <tr>
            <th></th>
            {% for corresponsalesCubanos in corresponsalesCubanos %}
                <th>{{ corresponsalesCubanos }}</th>
            {% endfor %}
            <th>Totales</th>
        </tr>
        </thead>
        <tbody>
        {% for paisDestino in paisesDestino %}
            {% set sizeDest = loop.index %}
            {% set total = 0 %}
            <tr>
                <th>CU -> {{ paisDestino.codigo }}</th>
                {% for corresponsalesCubanos in corresponsalesCubanos %}
                    {% set sizeCub = loop.index %}
                    {% for ma in matrizPC %}
                        {% if loop.index == sizeCub %}
                            {% for m in ma %}
                                {% if loop.index == sizeDest %}
                                    <td>{{ m }}</td>
                                    {% set total = total + m %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <td>{{ total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn bg-primary" id="corresponsal-btns">
        <a href="{{ path('pdf_estadisticas_ciclo') }}">Exportar</a>
    </button>

{% endblock %}