{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Reportes</h1>
    <h3>Cálculo de totales y materiales</h3>
    <br>
    <h5>Año</h5>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a class="btn btn-primary"  href="{{ path('pdf_estadisticas_anuales_view', {'anno': 2019}) }}">Vista previa</a>
    <a class="btn btn-primary"  href="{{ path('pdf_estadisticas_anuales') }}">Generar</a>
    <br>
    <br>
    <h5>Último ciclo</h5>
    <a class="btn btn-primary"  href="{{ path('pdf_estadisticas_ciclo_view') }}">Vista previa</a>
    <a class="btn btn-primary"  href="{{ path('pdf_estadisticas_ciclo') }}">Generar</a>
    <br>


{% endblock %}