{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Reportes</h1>
    <h3>Cálculo de totales y materiales</h3>
    <br>
    <h5>Año</h5>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <button class="btn bg-primary" id="corresponsal-btns">
        <a href="{{ path('pdf_estadisticas_anuales_view', {'anno': anno}) }}">Vista previa</a>
    </button>
    <button class="btn bg-primary" id="corresponsal-btns">
        {#<a href="{{ path('corresponsal_edit', {'id': corresponsal.id}) }}">Generar</a>#}
        <a href="{{ path('pdf_estadisticas_anuales') }}">Generar</a>
    </button>
    <br>
    <br>
    <h5>Último ciclo</h5>
    <button class="btn bg-primary" id="corresponsal-btns">
        <a href="{{ path('pdf_estadisticas_ciclo_view') }}">Vista previa</a>
    </button>
    <button class="btn bg-primary" id="corresponsal-btns">
        <a href="{{ path('pdf_estadisticas_ciclo') }}">Generar</a>
    </button>
    <br>


{% endblock %}