{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Reportes</h1>
    <h3>Cálculo de totales y materiales</h3>
    <br>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a class="btn btn-primary"  href="{{ path('pdf_estadisticas_anuales_view') }}">Vista previa</a>
    <a class="btn btn-primary"  href="{{ path('pdf_estadisticas_anuales') }}">Generar</a>
    <br>

{% endblock %}