{% extends 'base.html.twig' %}

{% block title %}PlanDeImposicion index{% endblock %}

{% block contenido %}
    <h3>Plan de imposición del {{ importacion.fechaInicioPlan }} al {{ importacion.fechaFinPlan }}</h3>
    <h5>Dimensión {{ importacion.dimension }}</h5>
    <h5>Ciclo {{ importacion.ciclo }}</h5>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for plan_de_imposicion in plan_de_imposicions %}
            <tr>
                {#<td>{{ plan_de_imposicion.id }}</td>#}
                <td>{{ plan_de_imposicion.fecha ? plan_de_imposicion.fecha|date('Y-m-d') : '' }}</td>

                <td>
                    <a href="{{ path('plan_de_imposicion_show', {'id': plan_de_imposicion.id}) }}">Mostrar</a>
                    <a href="{{ path('plan_de_imposicion_edit', {'id': plan_de_imposicion.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}
