 {% block contenido %}
     <div>
         <h1 align="left">Plan de imposición del {{ importacion.fechaInicioPlan }} al {{ importacion.fechaFinPlan }}</h1>
         <h3 align="left">Dimensión {{ importacion.dimension }}</h3>
         <h3 align="left">Ciclo {{ importacion.ciclo }}</h3>
     </div>


     <style type="text/css">
         table, th, td {
             border-collapse: collapse;
             border: 1px solid black;
             padding: 5px;
         }
     </style>

    <table class="table">
        <thead>
        <tr>
            <th colspan="2"> </th>
            {% for corresponsal in corresponsales %}
                <th>{{ corresponsal.codigo }} {{ corresponsal.nombre }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for plan_de_imposicion_csv in plan_de_imposicion_csvs %}
            <tr>
                {% if plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Monday' %}
                    <td>Lunes</td>
                {% elseif  plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Tuesday' %}
                    <td>Martes</td>
                {% elseif  plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Wednesday' %}
                    <td>Miércoles</td>
                {% elseif  plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Thursday' %}
                    <td>Jueves</td>
                {% elseif  plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Friday' %}
                    <td>Viernes</td>
                {% endif %}
                <td>{{ plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('d-m-y') : '' }}</td>

                {# *******************************ENVIOS**************************************#}
                {% if plan_de_imposicion_csv.envio12 != null %}
                    <td>{{ [plan_de_imposicion_csv.envio11,plan_de_imposicion_csv.envio12]|join(' y ') }}</td>
                {% else %}
                    <td>{{ plan_de_imposicion_csv.envio11 }}</td>
                {% endif %}

                {% if plan_de_imposicion_csv.envio22 != null %}
                    <td>{{ [plan_de_imposicion_csv.envio21,plan_de_imposicion_csv.envio22]|join(' y ') }}</td>
                {% else %}
                    <td>{{ plan_de_imposicion_csv.envio21 }}</td>
                {% endif %}

                {% if plan_de_imposicion_csv.envio32 != null %}
                    <td>{{ [plan_de_imposicion_csv.envio31,plan_de_imposicion_csv.envio32]|join(' y ') }}</td>
                {% else %}
                    <td>{{ plan_de_imposicion_csv.envio31 }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}