{% extends 'baseReportes.html.twig' %}
{% block reporte %}
     <div>
         <p align="left" style="font-size: 14px">Plan de imposición del {{ importacion.fechaInicioPlan }} al {{ importacion.fechaFinPlan }} <br>
             Dimensión {{ importacion.dimension }} <br>
             Ciclo {{ cicloEspanol }}</p>
     </div>


     <style type="text/css">
         table, th, td {
             border-collapse: collapse;
             border: 1px solid gray;
             padding: 2px;
             font-size: 10px;
         }
     </style>

    <table class="table">
        <thead>
        <tr>
            <th colspan="2"> </th>
            {% for corresponsal in corresponsales %}
                <th colspan="2">{{ corresponsal.codigo }} {{ corresponsal.nombre }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% set dia = false %}
        {% for plan_de_imposicion_csv in plan_de_imposicion_csvs %}
            <tr>
                {% if plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Monday' %}
                    {% set dia = false %}
                    <td>Lunes</td>
                {% elseif  plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Tuesday' %}
                    {% set dia = false %}
                    <td>Martes</td>
                {% elseif  plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Wednesday' %}
                    {% set dia = false %}
                    <td>Miércoles</td>
                {% elseif  plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Thursday' %}
                    {% set dia = false %}
                    <td>Jueves</td>
                {% elseif  plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Friday' %}
                    <td>Viernes</td>
                    {% set dia = true %}
                    {% if loop.last %}
                        {% set dia = false %}
                    {% endif %}
                {% endif %}
                <td>{{ plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('d-m-y') : '' }}</td>

                {# *******************************ENVIOS**************************************#}
                <td>{{ plan_de_imposicion_csv.envio11 }}</td>
                <td>{{ plan_de_imposicion_csv.envio12 }}</td>
                <td>{{ plan_de_imposicion_csv.envio21 }}</td>
                <td>{{ plan_de_imposicion_csv.envio22 }}</td>
                <td>{{ plan_de_imposicion_csv.envio31 }}</td>
                <td>{{ plan_de_imposicion_csv.envio32 }}</td>

            </tr>
            {% if dia == true %}
                <tr>
                    <td style="background-color: #FFFFFF; border-left-color: #FFFFFF; border-right-color: #FFFFFF"></td>
                    <td style="background-color: #FFFFFF; border-left-color: #FFFFFF; border-right-color: #FFFFFF"></td>
                    <td style="background-color: #FFFFFF; border-left-color: #FFFFFF; border-right-color: #FFFFFF"></td>
                    <td style="background-color: #FFFFFF; border-left-color: #FFFFFF; border-right-color: #FFFFFF"></td>
                    <td style="background-color: #FFFFFF; border-left-color: #FFFFFF; border-right-color: #FFFFFF"></td>
                    <td style="background-color: #FFFFFF; border-left-color: #FFFFFF; border-right-color: #FFFFFF"></td>
                    <td style="background-color: #FFFFFF; border-left-color: #FFFFFF; border-right-color: #FFFFFF"></td>
                    <td style="background-color: #FFFFFF; border-left-color: #FFFFFF; border-right-color: #FFFFFF"></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}