{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    <h3>Plan de imposición del {{ importacion.fechaInicioPlan }} al {{ importacion.fechaFinPlan }}</h3>
    <h5>Dimensión {{ importacion.dimension }}</h5>
    <h5>Ciclo {{ importacion.ciclo }}</h5>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th colspan="2" style="text-align: center"> Fecha</th>
            {% for corresponsal in corresponsales %}
                <th colspan="2" style="text-align: center">{{ corresponsal.codigo }} {{ corresponsal.nombre }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for plan_de_imposicion_csv in plan_de_imposicion_csvs %}
            <tr>
                {% if plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Monday' %}
                    <td>Lunes</td>
                {% elseif  plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Tuesday' %}
                    <td>Martes</td>
                {% elseif  plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Wednesday' %}
                    <td>Miércoles</td>
                {% elseif  plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Thursday' %}
                    <td>Jueves</td>
                {% elseif  plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Friday' %}
                    <td>Viernes</td>
                {% endif %}
                <td>{{ plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('d-m-y') : '' }}</td>

                {# *******************************ENVIOS**************************************#}
                {% if plan_de_imposicion_csv.cump11 != null %}
                    {% if plan_de_imposicion_csv.cump11 == true %}
                        <td class ="text-success">{{ plan_de_imposicion_csv.envio11 }}</td>
                    {% elseif plan_de_imposicion_csv.cump11 == false %}
                        <td class ="text-danger">{{ plan_de_imposicion_csv.envio11 }}</td>
                    {% endif %}
                {% else %}
                    <td>{{ plan_de_imposicion_csv.envio11 }}</td>
                {% endif %}

                {% if plan_de_imposicion_csv.cump12 != null %}
                    {% if plan_de_imposicion_csv.cump12 == true %}
                        <td class ="text-success">{{ plan_de_imposicion_csv.envio12 }}</td>
                    {% elseif plan_de_imposicion_csv.cump12 == false %}
                        <td class ="text-danger">{{ plan_de_imposicion_csv.envio12 }}</td>
                    {% endif %}
                {% else %}
                    <td>{{ plan_de_imposicion_csv.envio12 }}</td>
                {% endif %}

                {% if plan_de_imposicion_csv.cump21 != null %}
                    {% if plan_de_imposicion_csv.cump21 == true %}
                        <td class ="text-success">{{ plan_de_imposicion_csv.envio21 }}</td>
                    {% elseif plan_de_imposicion_csv.cump21 == false %}
                        <td class ="text-danger">{{ plan_de_imposicion_csv.envio21 }}</td>
                    {% endif %}
                {% else %}
                    <td>{{ plan_de_imposicion_csv.envio21 }}</td>
                {% endif %}

                {% if plan_de_imposicion_csv.cump22 != null %}
                    {% if plan_de_imposicion_csv.cump22 == true %}
                        <td class ="text-success">{{ plan_de_imposicion_csv.envio22 }}</td>
                    {% elseif plan_de_imposicion_csv.cump22 == false %}
                        <td class ="text-danger">{{ plan_de_imposicion_csv.envio22 }}</td>
                    {% endif %}
                {% else %}
                    <td>{{ plan_de_imposicion_csv.envio22 }}</td>
                {% endif %}

                {% if plan_de_imposicion_csv.cump31 != null %}
                    {% if plan_de_imposicion_csv.cump31 == true %}
                        <td class ="text-success">{{ plan_de_imposicion_csv.envio31 }}</td>
                    {% elseif plan_de_imposicion_csv.cump31 == false %}
                        <td class ="text-danger">{{ plan_de_imposicion_csv.envio31 }}</td>
                    {% endif %}
                {% else %}
                    <td>{{ plan_de_imposicion_csv.envio31 }}</td>
                {% endif %}

                {% if plan_de_imposicion_csv.cump32 != null %}
                    {% if plan_de_imposicion_csv.cump32 == true %}
                        <td class ="text-success">{{ plan_de_imposicion_csv.envio32 }}</td>
                    {% elseif plan_de_imposicion_csv.cump32 == false %}
                        <td class ="text-danger">{{ plan_de_imposicion_csv.envio32 }}</td>
                    {% endif %}
                {% else %}
                    <td>{{ plan_de_imposicion_csv.envio32 }}</td>
                {% endif %}


                {#} if plan_de_imposicion_csv.envio11 != null %}
                    {% if plan_de_imposicion_csv.cump11 != null %}
                        {% if plan_de_imposicion_csv.cump11 == true %}
                            {% if plan_de_imposicion_csv.envio12 == null %}
                                <td class="text-success">{{ plan_de_imposicion_csv.envio11 }}</td>
                                {% else %}
                                    {% if plan_de_imposicion_csv.cump12 != null %}
                                        {% if plan_de_imposicion_csv.cump12 == true %}
                                            <td><p class="text-success">{{ plan_de_imposicion_csv.envio11 }}</p>
                                                <p class="text-success">{{ plan_de_imposicion_csv.envio12 }}</p></td>
                                            {% elseif plan_de_imposicion_csv.cump12 == false %}
                                                <td><p class="text-success">{{ plan_de_imposicion_csv.envio11 }}</p>
                                                    <p class="text-danger">{{ plan_de_imposicion_csv.envio12 }}</p></td>
                                        {% endif %}
                                        {% else %}
                                            <td><p class="text-success">{{ plan_de_imposicion_csv.envio11 }}</p>
                                                <p>{{ plan_de_imposicion_csv.envio12 }}</p></td>
                                    {% endif %}
                            {% endif %}
                        {% elseif plan_de_imposicion_csv.cump11 == false %}
                            {% if plan_de_imposicion_csv.envio12 == null %}
                                <td class="text-danger">{{ plan_de_imposicion_csv.envio11 }}</td>
                            {% else %}
                                 {% if plan_de_imposicion_csv.cump12 != null %}
                                     {% if plan_de_imposicion_csv.cump12 == true %}
                                         <td><p class="text-danger">{{ plan_de_imposicion_csv.envio11 }}</p>
                                             <p class="text-success">{{ plan_de_imposicion_csv.envio12 }}</p></td>
                                     {% elseif plan_de_imposicion_csv.cump12 == false %}
                                         <td><p class="text-danger">{{ plan_de_imposicion_csv.envio11 }}</p>
                                             <p class="text-danger">{{ plan_de_imposicion_csv.envio12 }}</p></td>
                                     {% endif %}
                                 {% else %}
                                     <td><p class="text-danger">{{ plan_de_imposicion_csv.envio11 }}</p>
                                         <p>{{ plan_de_imposicion_csv.envio12 }}</p></td>
                                 {% endif %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if plan_de_imposicion_csv.envio12 == null %}
                            <td>{{ plan_de_imposicion_csv.envio11 }}</td>
                        {% else %}
                            {% if plan_de_imposicion_csv.cump12 != null %}
                                {% if plan_de_imposicion_csv.cump12 == true %}
                                    <td><p>{{ plan_de_imposicion_csv.envio11 }}</p>
                                        <p class="text-success">{{ plan_de_imposicion_csv.envio12 }}</p></td>
                                {% elseif plan_de_imposicion_csv.cump12 == false %}
                                    <td><p>{{ plan_de_imposicion_csv.envio11 }}</p>
                                        <p class="text-danger">{{ plan_de_imposicion_csv.envio12 }}</p></td>
                                {% endif %}
                            {% else %}
                                <td><p>{{ plan_de_imposicion_csv.envio11 }}</p>
                                    <p>{{ plan_de_imposicion_csv.envio12 }}</p></td>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% if plan_de_imposicion_csv.envio21 != null %}
                    {% if plan_de_imposicion_csv.cump21 != null %}
                        {% if plan_de_imposicion_csv.cump21 == true %}
                            {% if plan_de_imposicion_csv.envio22 == null %}
                                <td class="text-success">{{ plan_de_imposicion_csv.envio21 }}</td>
                            {% else %}
                                {% if plan_de_imposicion_csv.cump22 != null %}
                                    {% if plan_de_imposicion_csv.cump22 == true %}
                                        <td><p class="text-success">{{ plan_de_imposicion_csv.envio21 }}</p>
                                            <p class="text-success">{{ plan_de_imposicion_csv.envio22 }}</p></td>
                                    {% elseif plan_de_imposicion_csv.cump22 == false %}
                                        <td><p class="text-success">{{ plan_de_imposicion_csv.envio21 }}</p>
                                            <p class="text-danger">{{ plan_de_imposicion_csv.envio22 }}</p></td>
                                    {% endif %}
                                {% else %}
                                    <td><p class="text-success">{{ plan_de_imposicion_csv.envio21 }}</p>
                                        <p>{{ plan_de_imposicion_csv.envio22 }}</p></td>
                                {% endif %}
                            {% endif %}
                        {% elseif plan_de_imposicion_csv.cump21 == false %}
                            {% if plan_de_imposicion_csv.envio22 == null %}
                                <td class="text-danger">{{ plan_de_imposicion_csv.envio21 }}</td>
                            {% else %}
                                {% if plan_de_imposicion_csv.cump22 != null %}
                                    {% if plan_de_imposicion_csv.cump22 == true %}
                                        <td><p class="text-danger">{{ plan_de_imposicion_csv.envio21 }}</p>
                                            <p class="text-success">{{ plan_de_imposicion_csv.envio22 }}</p></td>
                                    {% elseif plan_de_imposicion_csv.cump22 == false %}
                                        <td><p class="text-danger">{{ plan_de_imposicion_csv.envio21 }}</p>
                                            <p class="text-danger">{{ plan_de_imposicion_csv.envio22 }}</p></td>
                                    {% endif %}
                                {% else %}
                                    <td><p class="text-danger">{{ plan_de_imposicion_csv.envio21 }}</p>
                                        <p>{{ plan_de_imposicion_csv.envio22 }}</p></td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if plan_de_imposicion_csv.envio22 == null %}
                            <td>{{ plan_de_imposicion_csv.envio21 }}</td>
                        {% else %}
                            {% if plan_de_imposicion_csv.cump22 != null %}
                                {% if plan_de_imposicion_csv.cump22 == true %}
                                    <td><p>{{ plan_de_imposicion_csv.envio21 }}</p>
                                        <p class="text-success">{{ plan_de_imposicion_csv.envio22 }}</p></td>
                                {% elseif plan_de_imposicion_csv.cump22 == false %}
                                    <td><p>{{ plan_de_imposicion_csv.envio21 }}</p>
                                        <p class="text-danger">{{ plan_de_imposicion_csv.envio22 }}</p></td>
                                {% endif %}
                            {% else %}
                                <td><p>{{ plan_de_imposicion_csv.envio21 }}</p>
                                    <p>{{ plan_de_imposicion_csv.envio22 }}</p></td>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% if plan_de_imposicion_csv.envio31 != null %}
                    {% if plan_de_imposicion_csv.cump31 != null %}
                        {% if plan_de_imposicion_csv.cump31 == true %}
                            {% if plan_de_imposicion_csv.envio32 == null %}
                                <td class="text-success">{{ plan_de_imposicion_csv.envio31 }}</td>
                            {% else %}
                                {% if plan_de_imposicion_csv.cump32 != null %}
                                    {% if plan_de_imposicion_csv.cump32 == true %}
                                        <td><p class="text-success">{{ plan_de_imposicion_csv.envio31 }}</p>
                                            <p class="text-success">{{ plan_de_imposicion_csv.envio32 }}</p></td>
                                    {% elseif plan_de_imposicion_csv.cump32 == false %}
                                        <td><p class="text-success">{{ plan_de_imposicion_csv.envio31 }}</p>
                                            <p class="text-danger">{{ plan_de_imposicion_csv.envio32 }}</p></td>
                                    {% endif %}
                                {% else %}
                                    <td><p class="text-success">{{ plan_de_imposicion_csv.envio31 }}</p>
                                        <p>{{ plan_de_imposicion_csv.envio32 }}</p></td>
                                {% endif %}
                            {% endif %}
                        {% elseif plan_de_imposicion_csv.cump31 == false %}
                            {% if plan_de_imposicion_csv.envio32 == null %}
                                <td class="text-danger">{{ plan_de_imposicion_csv.envio31 }}</td>
                            {% else %}
                                {% if plan_de_imposicion_csv.cump32 != null %}
                                    {% if plan_de_imposicion_csv.cump32 == true %}
                                        <td><p class="text-danger">{{ plan_de_imposicion_csv.envio31 }}</p>
                                            <p class="text-success">{{ plan_de_imposicion_csv.envio32 }}</p></td>
                                    {% elseif plan_de_imposicion_csv.cump32 == false %}
                                        <td><p class="text-danger">{{ plan_de_imposicion_csv.envio31 }}</p>
                                            <p class="text-danger">{{ plan_de_imposicion_csv.envio32 }}</p></td>
                                    {% endif %}
                                {% else %}
                                    <td><p class="text-danger">{{ plan_de_imposicion_csv.envio31 }}</p>
                                        <p>{{ plan_de_imposicion_csv.envio32 }}</p></td>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if plan_de_imposicion_csv.envio32 == null %}
                            <td>{{ plan_de_imposicion_csv.envio31 }}</td>
                        {% else %}
                            {% if plan_de_imposicion_csv.cump32 != null %}
                                {% if plan_de_imposicion_csv.cump32 == true %}
                                    <td><p>{{ plan_de_imposicion_csv.envio31 }}</p>
                                        <p class="text-success">{{ plan_de_imposicion_csv.envio32 }}</p></td>
                                {% elseif plan_de_imposicion_csv.cump32 == false %}
                                    <td><p>{{ plan_de_imposicion_csv.envio31 }}</p>
                                        <p class="text-danger">{{ plan_de_imposicion_csv.envio32 }}</p></td>
                                {% endif %}
                            {% else %}
                                <td><p>{{ plan_de_imposicion_csv.envio31 }}</p>
                                    <p>{{ plan_de_imposicion_csv.envio32 }}</p></td>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %#}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}