{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    <h3>Plan de imposición del {{ importacion.fechaInicioPlan }} al {{ importacion.fechaFinPlan }}</h3>
    <h5>Dimensión {{ importacion.dimension }}</h5>
    <h5>Ciclo {{ cicloEspanol }}</h5>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th colspan="2" style="text-align: center"> Fecha</th>
            {% for corresponsal in corresponsales %}
                <th colspan="2" style="text-align: center">{{ corresponsal.codigo }} {{ corresponsal.nombre }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>

        <select id="corresponsales" class="form-control">
            <option value="todos">Todos</option>
            {% for corresponsal in corresponsales %}
            <option>{{ corresponsal.codigo }}</option>
            {% endfor %}
        </select>
        <button  class="btn btn-primary" onclick="filtro()"> Filtrar</button>
        <input type="hidden" value="{{ path('plan_imposicion_visualizar_cumplimiento') }}" id="rutaTodos" />
        <input type="hidden" value="{{ path('fechas_no_correspondencia_delete', {'cod': fechas_no_correspondencium.id}) }}" id="rutaTodos" />

        <script type="text/javascript">
            function filtro(){
                var valor = document.getElementById('corresponsales').value;
                if(valor == "todos"){
                    var ruta = document.getElementById('rutaTodos').value;
                    window.location= ruta;
                }else{
                    alert(valor);
                }

            }
        </script>


        {% for plan_de_imposicion_csv in plan_de_imposicion_csvs %}
            <tr>
                {% if plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Monday' %}
                    <td>Lunes</td>
                {% elseif  plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Tuesday' %}
                    <td>Martes</td>
                {% elseif  plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Wednesday' %}
                    <td>Miércoles</td>
                {% elseif  plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Thursday' %}
                    <td>Jueves</td>
                {% elseif  plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('l') == 'Friday' %}
                    <td>Viernes</td>
                {% endif %}
                <td>{{ plan_de_imposicion_csv.fecha ? plan_de_imposicion_csv.fecha|date('d-m-y') : '' }}</td>

                {# *******************************ENVIOS**************************************#}
                {% if plan_de_imposicion_csv.cump11 != null %}
                    {% if plan_de_imposicion_csv.cump11 == true %}
                        <td class ="text-success">{{ plan_de_imposicion_csv.envio11 }}</td>
                    {% elseif plan_de_imposicion_csv.cump11 == false %}
                        <td class ="text-danger">{{ plan_de_imposicion_csv.envio11 }}</td>
                    {% endif %}
                {% else %}
                    <td>{{ plan_de_imposicion_csv.envio11 }}</td>
                {% endif %}

                {% if plan_de_imposicion_csv.cump12 != null %}
                    {% if plan_de_imposicion_csv.cump12 == true %}
                        <td class ="text-success">{{ plan_de_imposicion_csv.envio12 }}</td>
                    {% elseif plan_de_imposicion_csv.cump12 == false %}
                        <td class ="text-danger">{{ plan_de_imposicion_csv.envio12 }}</td>
                    {% endif %}
                {% else %}
                    <td>{{ plan_de_imposicion_csv.envio12 }}</td>
                {% endif %}

                {% if plan_de_imposicion_csv.cump21 != null %}
                    {% if plan_de_imposicion_csv.cump21 == true %}
                        <td class ="text-success">{{ plan_de_imposicion_csv.envio21 }}</td>
                    {% elseif plan_de_imposicion_csv.cump21 == false %}
                        <td class ="text-danger">{{ plan_de_imposicion_csv.envio21 }}</td>
                    {% endif %}
                {% else %}
                    <td>{{ plan_de_imposicion_csv.envio21 }}</td>
                {% endif %}

                {% if plan_de_imposicion_csv.cump22 != null %}
                    {% if plan_de_imposicion_csv.cump22 == true %}
                        <td class ="text-success">{{ plan_de_imposicion_csv.envio22 }}</td>
                    {% elseif plan_de_imposicion_csv.cump22 == false %}
                        <td class ="text-danger">{{ plan_de_imposicion_csv.envio22 }}</td>
                    {% endif %}
                {% else %}
                    <td>{{ plan_de_imposicion_csv.envio22 }}</td>
                {% endif %}

                {% if plan_de_imposicion_csv.cump31 != null %}
                    {% if plan_de_imposicion_csv.cump31 == true %}
                        <td class ="text-success">{{ plan_de_imposicion_csv.envio31 }}</td>
                    {% elseif plan_de_imposicion_csv.cump31 == false %}
                        <td class ="text-danger">{{ plan_de_imposicion_csv.envio31 }}</td>
                    {% endif %}
                {% else %}
                    <td>{{ plan_de_imposicion_csv.envio31 }}</td>
                {% endif %}

                {% if plan_de_imposicion_csv.cump32 != null %}
                    {% if plan_de_imposicion_csv.cump32 == true %}
                        <td class ="text-success">{{ plan_de_imposicion_csv.envio32 }}</td>
                    {% elseif plan_de_imposicion_csv.cump32 == false %}
                        <td class ="text-danger">{{ plan_de_imposicion_csv.envio32 }}</td>
                    {% endif %}
                {% else %}
                    <td>{{ plan_de_imposicion_csv.envio32 }}</td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No se encontraron registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}