{% extends 'base.html.twig' %}

{% block title %}SitioLector{% endblock %}

{% block body %}
    <h1>SitioLector</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sitio_lector.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ sitio_lector.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ sitio_lector.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('sitio_lector_index') }}">back to list</a>

    <a href="{{ path('sitio_lector_edit', {'id': sitio_lector.id}) }}">edit</a>

    {{ include('sitio_lector/_delete_form.html.twig') }}
{% endblock %}
