{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Región Mundial</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Número</th>
                <th>Descripción</th>
                <th>Tarifa</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for region_mundial in region_mundials %}
            <tr>

                <td>{{ region_mundial.numero }}</td>
                <td>{{ region_mundial.descripcion }}</td>
                <td>{{ region_mundial.tarifa }}</td>
                <td>
                    {#<a href="{{ path('region_mundial_show', {'id': region_mundial.id}) }}">show</a>#}
                    <a href="{{ path('region_mundial_edit', {'id': region_mundial.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No se encontraron regiones</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn bg-primary" id="corresponsal-btns">
        <a href="{{ path('region_mundial_new') }}">Nueva</a>
    </button>
{% endblock %}
