{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Tarifa Postal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ region_mundial.id }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ region_mundial.numero }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ region_mundial.descripcion }}</td>
            </tr>
            <tr>
                <th>Tarifa</th>
                <td>{{ region_mundial.tarifa }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('region_mundial_index') }}">back to list</a>

    <a href="{{ path('region_mundial_edit', {'id': region_mundial.id}) }}">edit</a>

    {{ include('region_mundial/_delete_form.html.twig') }}
{% endblock %}
