{% extends 'base.html.twig' %}

{% block title %}BorradoPropio{% endblock %}

{% block body %}
    <h1>BorradoPropio</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ borrado_propio.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ borrado_propio.codigo }}</td>
            </tr>
            <tr>
                <th>Detalle</th>
                <td>{{ borrado_propio.detalle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('borrado_propio_index') }}">back to list</a>

    <a href="{{ path('borrado_propio_edit', {'id': borrado_propio.id}) }}">edit</a>

    {{ include('borrado_propio/_delete_form.html.twig') }}
{% endblock %}
