{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h1>Editar IP del lector {{ i_p_lector_cubano.lector.nombre }}</h1>
    <p>Codigo: {{ i_p_lector_cubano.lector.codigo }}</p>
    {{ form_start(form) }}
    {{ form_widget(form.lector, {'attr': {'style':'display:none'}}) }}
    {{ form_row(form.ip) }}
    <br>
    <button class="btn btn-primary">
        {{ button_label|default('Actualizar') }}
    </button>
    <a class="btn btn-primary" href="{{ path('i_p_lector_cubano_index') }}">Regresar</a>
    {{ form_end(form) }}

    {#{ include('ip_lector_cubano/_form.html.twig', {'button_label': 'Actualizar'}) }#}

{% endblock %}
