{{ form_start(form) }}
    {{ form_row(form.fecha) }}
    {{ form_row(form.es_anual) }}
    {{ form_row(form.descripcion) }}
    {{ form_row(form.provincia) }}
<br>
<button class="btn btn-primary">
    {{ button_label|default('Aceptar') }}
</button>
<a class="btn btn-primary" href="{{ path('fechas_no_correspondencia_index') }}">Regresar</a>


{{ form_end(form) }}
