{{ form_start(form) }}
    {{ form_row(form.fecha) }}
    {{ form_row(form.es_anual) }}
    {{ form_row(form.descripcion) }}
    {{ form_row(form.provincia) }}
<button class="btn bg-primary" id="corresponsal-btns" style="color: #FFFFFF">{{ button_label|default('Aceptar') }}</button>
{{ form_end(form) }}
