{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}
    <h1>Fechas de no correspondencia</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Anual</th>
                <th>Descripción</th>
                <th>Provincias afectadas</th>
                {% if is_granted('ROLE_ESPECIALISTA_DC') %}
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for fechas_no_correspondencium in fechas_no_correspondencias %}
            <tr>
                {% if fechas_no_correspondencium.fechaFin != null %}
                    <td>{{ fechas_no_correspondencium.fechaInicio ? fechas_no_correspondencium.fechaInicio|date('d-m-Y') : '' }}
                    al {{ fechas_no_correspondencium.fechaFin ? fechas_no_correspondencium.fechaFin|date('d-m-Y') : ''  }}</td>
                {% else %}
                    <td>{{ fechas_no_correspondencium.fechaInicio ? fechas_no_correspondencium.fechaInicio|date('d-m-Y') : '' }}</td>
                {% endif %}
                <td>{{ fechas_no_correspondencium.esAnual ? 'Sí' : 'No' }}</td>
                <td>{{ fechas_no_correspondencium.descripcion }}</td>
                <td>
                    {% for provincia in fechas_no_correspondencium.provincia %}
                        {{ provincia.nombre }}
                    {% endfor %}
                </td>
                {% if is_granted('ROLE_ESPECIALISTA_DC') %}
                <td>
                    <a href="{{ path('fechas_no_correspondencia_edit', {'id': fechas_no_correspondencium.id}) }}">
                        <img src="{{ asset('img/editar.png') }}" style="width: 15%">
                    </a>
                    <a href="{{ path('fechas_no_correspondencia_delete', {'id': fechas_no_correspondencium.id}) }}"onclick="return confirm('¿Desea borrar la fecha seleccionada?');">
                        <img src="{{ asset('img/borrar.png') }}" style="width: 15%">
                    </a>
                </td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="5">No existen fechas de no correspondencia</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ESPECIALISTA_DC') %}
        <a class="btn btn-primary"  href="{{ path('fechas_no_correspondencia_new') }}">Nuevo</a>
        <a class="btn btn-primary" href="{{ path('fechas_no_correspondencia_pdf') }}">Exportar</a>
    {% endif %}

{% endblock %}
