{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
       {{ parent() }}
    <h3>Importar nuevo plan de imposición</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a class="btn btn-primary"  href="{{ path('plan_imposicion_automaticamente') }}">Automáticamente</a>

    <script type="text/javascript">
        function cargando() {
            img = '<img src="{{ asset('img/cargando.gif') }}" style="width: 5%">'
            document.getElementById('imagenCargando').innerHTML = img;
        }
    </script>
    <center>
        <br><br>
        <div id="imagenCargando" ></div>
    </center>


{% endblock %}
