{{ form_start(form) }}
    {{ form_widget(form) }}
<br>
<button class="btn btn-primary">
    {{ button_label|default('Aceptar') }}
</button>
<a class="btn btn-primary" href="{{ path('provincia_cuba_index') }}">Regresar</a>
{{ form_end(form) }}
