{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block contenido %}
    {{ parent() }}

    <h1>Provincias de Cuba</h1>

    <table class="table">
        <thead>
            <tr>
               {# <th>Id</th>#}
                <th>Nombre</th>
                {% if is_granted('ROLE_ESPECIALISTA_DC') %}
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for provincia_cuba in provincia_cubas %}
            {%  if  provincia_cuba.esActivo == true %}
                <tr>
                   {# <td>{{ provincia_cuba.id }}</td>#}
                    <td>{{ provincia_cuba.nombre }}</td>
            {% if is_granted('ROLE_ESPECIALISTA_DC') %}
                    <td>
                       {# <a href="{{ path('provincia_cuba_show', {'id': provincia_cuba.id}) }}">show</a>#}
                        <a href="{{ path('provincia_cuba_edit', {'id': provincia_cuba.id}) }}">Editar</a>
                    </td>
            {% endif %}
                </tr>
            {%  endif %}
        {% else %}
            <tr>
                <td colspan="3">No se encontraron provincias</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class="btn bg-primary" id="corresponsal-btns">
        <a href="{{ path('provincia_cuba_new') }}">Nueva</a>
    </button>

{% endblock %}